<!-- startgoogle analytics -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- page.google_analytics: "{{ page.google_analytics }}" -->
<!-- site.google_analytics: "{{ site.google_analytics }}" -->
{% if page.google_analytics and page.google_analytics != "" %}
<!-- page level analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ page.google_analytics }}"></script>
{% elsif site.google_analytics and site.google_analytics != "" %}
<!-- site level analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
{% endif %}
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  {% if page.google_analytics and page.google_analytics != "" %}
  gtag('config', '{{page.google_analytics}}');
  {% elsif site.google_analytics and site.google_analytics != "" %}
  gtag('config', '{{site.google_analytics}}');
  {% endif %}
</script>
<!-- end google analytics-->