<!-- startgoogle analytics -->
<!-- Global site tag (gtag.js) - Google Analytics -->
{% if site.google_analytics != "" or page.google_analytics != "" %}
{% if page.google_analytics != "" %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{page.google_analytics}}"></script>
{% else %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{site.google_analytics}}"></script>
{% endif %}
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  {% if page.google_analytics != "" %}
  gtag('config', '{{page.google_analytics}}');
  {% else %}
  gtag('config', '{{site.google_analytics}}');
  {% endif %}
</script>
{% endif %}
<!-- end google analytics-->