<!-- seo include -->
<meta name="description" content="{{page.excerpt | strip_html | strip_newlines}}" />
<link rel="canonical" href="{{ site.url }}{{ page.url }}" />
<meta property="article:published_time" content="{{ page.date }}" />
<script type="application/ld+json">
    {
        "@type":"{{ page.seo_type }}",
        "url":"{{ site.url }}{{ page.url }}",
        "headline":"{{ page.title }}",
        "dateModified":"{{ page.date }}",
        "datePublished":"{{ page.date }}",
        "author":{
            "name":"{{ page.author }}",
            "@type":"Person",
            "url":"{{ site.url }}"
        },
        {% if page.image %}
        "image":"{{ site.url}}{{ page.image }}",
        {% else %}
        "image":"{{ site.url }}{{ site.image }}",
        {% endif %}
        "mainEntityOfPage":{
            "@type":"WebPage",
            "@id":"{{ site.url }}{{ page.id }}",
            "url":"{{ site.url }}{{ page.url }}"
        },
        "description":"{{ page.excerpt | strip_html | strip_newlines }}",
        "@context":"https://schema.org"
    }
</script>

<!-- facebook seo -->
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:locale" content="en_US" />
<meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines }}" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:type" content="article" />
<!-- end facebook seo -->

<!-- twitter seo -->
<meta name="twitter:site" content="@{{ site.twitter_username}}" />
<meta name="twitter:title" content="{{ page.title }}" />
<meta name="twitter:description" content="{{ page.excerpt | strip_html | strip_newlines }}" />

{% if page.image %}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="{{ site.url }}{{ page.image }}" />
{% else %}
<meta name="twitter:card" content="summary" />
<meta name="twitter:image" content="{{ site.url }}{{ site.image }}" />
{% endif %}
{% if page.image_alt %}
<meta name="twitter:image:alt" content="{{ page.image_alt}}" />
{% else %}
<meta name="twitter:image:alt" content="{{ site.title }} Image" />
{% endif %}
<!-- end twitter seo -->

<!-- end seo include -->


