@import "basics";

.blog {
    margin-bottom: 2rem;
    color: var(--bs-body-color);
    
    &-by-line {
        border-top: 1px solid var(--bs-dark-bg-subtle);
        border-bottom: 1px solid var(--bs-dark-bg-subtle);
    }

    &-featured {
        .card {
            &-body {
                max-height: 250px;
                overflow-y: hidden;
            }

            &-text {
                max-height:250px;
                overflow-y: hidden;
            }
        }
    }

    &-header {
        &-outer {
            background-color: var(--bs-body-bg);
        }
    }

    &-main {
        padding-top: 5px;
    }

    &-post {
        &-header {
            // &-image {
            //     background-repeat: no-repeat;
            //     min-height: 250px; 
            //     background-position: 0px -150px;
            // }

            .card {
                background-position: 0px -150px;
                border: none !important;
            }

            .text-bg-light {
                background-color: rgba($color: #ffffff, $alpha: 0.8) !important;
            }

            .text-bg-dark {
                background-color: rgba($color: #555555, $alpha: 0.8) !important;
            }
        }

        &-title {
            background-color: var(--bs-body-bg);
        }
    }
}