@import "basics";

.blog {
    margin-bottom: 2rem;
    color: var(--bs-body-color);
    
    &-by-line {
        border-top: 1px solid var(--bs-dark-bg-subtle);
        border-bottom: 1px solid var(--bs-dark-bg-subtle);
    }

    &-featured {
        .card {
                padding-left: 0 !important;
                padding-right: 0 !important;

                &-body {
                    max-height: 250px;
                    overflow-y: hidden;
                }
        }
    }

    &-header-outer {
        background-color: var(--bs-body-bg);
    }

    &-main {
        padding-top: 5px;
    }

    &-post {
        &-header {
            &-image {
                background-repeat: no-repeat;
                min-height: 250px; 
                background-position: 0px -150px;
            }
        }

        &-title {
            background-color: var(--bs-body-bg);
        }
    }
}