---
layout: default
---

{% if page.banner %}
{% assign class = "blog-post-header-image" %}
{% endif %}
<div class="row blog-post-header {{ class }}" style="background-image: url('{{ page.banner | relative_url  }}');" >
    <div class="col mt-3" data-bs-theme="{{ page.title-bs-theme }}">
        <h1 class="blog-post-title">{{ page.title }}</h1>
    </div>
</div>

{%- include by-line.html post=page share=true -%}

<div class="row blog-body">
    <article class="col blog-content">
        {{ content }}
    </article>

    {% if page.series %}
    <div class="col-3">
        <div class="position-sticky blog-sidebar">
        {% include series.html %}
    </div>
    {% endif %}
</div>
